<div class="container">
  <img class="logo" src="/img/logo 1.png" alt="">
  <div class="month">
    <i class="fas fa-angle-left prev"></i>
    <div class="date">
      <h1></h1>
    </div>
    <i class="fas fa-angle-right next"></i>
  </div>
  <section class="calendar">
    <div class="weekdays">
      <div>Dom</div>
      <div>Seg</div>
      <div>Ter</div>
      <div>Qua</div>
      <div>Qui</div>
      <div>Sex</div>
      <div>Sab</div>
    </div>

    <a href="/reserva" class="days"></a>

  </section>
</div>

<script src="/js/days.js"></script>